body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
header{
    background-color: #007BFF;
    width: 100%;
    
}
ul, li, a{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    color: rgb(245, 241, 241);
    margin-top: 1px;
}

.navegacao{
    margin: 0px;
    margin-left: 700px;
}

.a{
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 0px;
    align-items: flex-start;
}
/* Quem Somos*/
.quem-somos{
    width: 60vw;
    margin: 18px 0;
}
.quem-somos hr{
    margin: 21px 0 0;
    width: 40px;
    border: 3px solid #FF5236;
    border-radius: 6px;
}
.quem-somos h2{
    font-size: 45px;
    color: #66798D;
    margin: 0;
    font-weight: bold;
}
.quem-somos p{
    font-size: 24px;
}
/* Objetivos*/
.Objetivos{
    width: 60vw;
}
.Objetivos hr{
    margin: 21px 0 0;
    width: 40px;
    border: 3px solid #FF5236;
    border-radius: 6px;
}
.Objetivos h2{
    font-size: 45px;
    color: #66798D;
    margin: 0;
    font-weight: bold;
}
.Objetivos p{
    font-size: 24px;
}
/* Formulario */
form{
    font-weight: bold;
    width: 40vw;
    border: 2px solid #007BFF;
    border-radius: 21px;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    
}
form h2{
    margin: 12px;
    font-size: 39px;
}
fieldset{
    border: none;
}
.form-info-campo{
    padding: 4px 9px;
    border-radius: 5px;
}
.form-info-campo-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.set-obs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.set-obs textarea{
    border-radius: 4px;
}
.div-button{
    width: 100%;
    display: flex;
    justify-content: center;
}
.button{
    background-color: #FF5236;
    border: 2px solid #FF5236;
    border-radius: 5px;
    padding: 7px 27px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.button:hover{
    background-color: white;
    border: 2px solid #FF5236;
    color: #FF5236;
}
/** button/hover**/
.Btn {
    width: 13px;
    height: 13px;
    margin-left: 6px;
    border: none;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
}
.span {
    color: black;
}
.tooltip {
    position: absolute;
    right: -220px;
    opacity: 0;
    background-color: rgb(12, 12, 12);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .2s;
    pointer-events: none;
    letter-spacing: 0.5px;
}
.tooltip::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-color: rgb(12, 12, 12);
    background-size: 1000%;
    background-position: center;
    transform: rotate(45deg);
    left: -2%;
    transition-duration: .3s;
}
.Btn:hover .tooltip {
    opacity: 1;
    transition-duration: .3s;
    z-index: 1;
}
.Btn:hover {
    background-color: #55c9f6;
    transition-duration: .3s;
}
.Btn:hover .svgIcon {
    animation: slide-in-top 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.formulario{
    margin-top: 50px;
}
.div-header{
    display: flex;
    flex-direction: row;
}